<div>
	<div class="tableLabel">Search Criteria</div>
	<div>
		<div class="label">Place Name</div>
		<div><input type="text" ng-model="placeName" ng-blur="searchPlaces()" class="searchInput" /></div>
	</div>
	<div>
		<div class="label">Date</div>
		<div><input type="text" ng-model="placeDate" ng-blur="searchPlaces()" class="searchInput" /></div>
	</div>
	<div>
		<div class="label">Jurisdiction</div>
		<div><input type="text" ng-model="placeJurisdiction" ng-blur="searchPlaces()" class="searchInput" /></div>
	</div>
	<div>
		<div class="label">Location</div>
		<div>Lat:<input type="text" ng-model="placeLat" ng-blur="searchPlaces()" class="searchInput" />
             Long:<input type="text" ng-model="placeLong" ng-blur="searchPlaces()" class="searchInput" /></div>
	</div>
	<div>
		<div class="label">Type</div>
		<div>
			<select ng-model="selectedType" ng-change="searchPlaces()" ng-options="type.label for type in placeTypes track by type.id" class="searchInput" >
                <option value=""></option>
			</select>
		</div>
	</div>
	<div>
		<div class="label">Type Group</div>
		<div>
			<select ng-model="selectedTypeGroup" ng-change="searchPlaces()" ng-options="group.label for group in placeTypeGroups track by group.id" class="searchInput" >
                <option value=""></option>
            </select>
		</div>
	</div>
    </br>
    <div>
        <div><input type="checkbox" ng-model="showRequest"/>Show Request</div>
    </div>
    <div>
        <div ng-show="showRequest"><textarea ng-model="searchRequest" ng-readonly="true" class="requestBox"/></div>
    </div>
</div>