<div>
    <div class="tableLabel">Search Results</div>
	<table class="resultsTable" id="resultsTable" >
		<tr class="resultsRow">
			<th class="titleCell"><a href="" ng-click="predicate = 'id'; reverse=!reverse">Id</a></th>
			<th class="titleCell"><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
			<th class="titleCell"><a href="" ng-click="predicate = 'type'; reverse=!reverse">Type</a></th>
			<th class="titleCell"><a href="" ng-click="predicate = 'date'; reverse=!reverse">Dates</a></th>
			<th class="titleCell"><a href="" ng-click="predicate = 'latitude'; reverse=!reverse">Location</a></th>
            <td class="titleCell"><a href="" ng-click="predicate = 'relScore'; reverse=!reverse">Relevance</a></td>
		</tr>
		<tr ng-repeat="place in searchResults | orderBy:predicate:reverse" class="resultsRow">
			<td class="resultsCell">{{ place.id }}</td>
			<td class="resultsCell">{{ place.name }}</td>
			<td class="resultsCell">{{ place.type }}</td>
			<td class="resultsCell">{{ place.date }}</td>
			<td class="resultsCell">{{ place.latitude }}<span ng-if="place.longitude">,</span> {{ place.longitude }}</td>
            <td class="resultsCell">{{ place.relScore }}</td>
		</tr>
	</table>
</div>
